@tk-dcb:registry=https://onedev-o10ihus3n4bo8io6dqcbh5m0.tomkaltz.com/tk-dcb/~npm/
always-auth=true
; Add token locally (do not commit): //onedev-o10ihus3n4bo8io6dqcbh5m0.tomkaltz.com/tk-dcb/~npm/:_authToken=YOUR_TOKEN
; Or: pnpm config set //onedev-o10ihus3n4bo8io6dqcbh5m0.tomkaltz.com/tk-dcb/~npm/:_authToken "<token>"
